*{margin:0;padding:0}


.form{margin:50px auto;background:#ebebeb;width:50%;height:350px;}
.form h1{text-align:center;color:red;}
#inputs{background:#ebebeb;width:50%;margin:30px auto;padding:10px 0px}
#inputs h2{text-align:center;}
#inputs form{margin-left:30%;padding-top:10px;}
#inputs form input{padding:5px;margin-top:5px;}
#inputs form input[type="submit"]{width:170px;padding:10px;}